         .panel {
         border: 1px solid #428bca; 
         border-radius:0;
         transition: box-shadow 0.5s;
		 
         }
         .panel:hover {
         box-shadow: 5px 0px 40px rgba(0,0,0, .2);
         }
         .panel-footer .btn:hover {
         border: 1px solid #428bca;
         background-color: #fff !important;
         color: #428bca;
         }
         .panel-heading {
         color: #fff !important;
         background-color: #2BBBAD !important;
         padding: 25px;
         border-bottom: 1px solid transparent;
         border-top-left-radius: 0px;
         border-top-right-radius: 0px;
         border-bottom-left-radius: 0px;
         border-bottom-right-radius: 0px;
         }
         .panel-footer {
         background-color: #fff !important;
         }
         .panel-footer h3 {
         font-size: 32px;
         }
         .panel-footer h4 {
         color: #aaa;
         font-size: 14px;
         }
         .panel-footer .btn {
         margin: 15px 0;
         background-color: #428bca;
         color: #fff;
         }
		
         body {
         font-family: "Lato", sans-serif;
         }
         .navbar-custom {
         color: #FFFFFF;
         background-color: #4B515D;
         }
         .sidenav {
         height: 100%;
         width: 200px;
         position: fixed;
         z-index: 1;
         top: 0;
         left: 0;
         background-color: #37474F;
         overflow-x: hidden;
         padding-top: 60px;
         }
         .sidenav a {
         padding: 6px 6px 6px 32px;
         text-decoration: none;
         font-size: 18px;
         color: #818181;
         display: block;
         }
         .sidenav a:hover {
         color: #f1f1f1;
         }
         .main {
         margin-left: 200px; /* Same as the width of the sidenav */
         }
         @media screen and (max-height: 450px) {
         .sidenav {padding-top: 15px;}
         .sidenav a {font-size: 18px;}
         }